.tasksList {
  min-height: 400px;
  width: 400px;
  font-size: 18px;
  font-family: Arial;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
  color: black;

  label {
    display: block;
  }
}
